<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>
<div>
    <p class="commit-title h5">
        <a class="commit-message" target="_blank" href="" wicket:id="commit-message-link">
        </a>
    </p>
    <div class="commit-meta">
        <span class="avatar">
            <img wicket:id="committer-avatar" src="" width="20" height="20" class="avatar">
        </span>
        <span>
            <a target="_blank" wicket:id="committer"></a> committed
            <span wicket:id="commit-date"></span>
        </span>
    </div>
</div>
</wicket:panel>
</html>
