<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div wicket:id="languagesContainer">

            </div>
        </div>
        <div class="col-md-9">
            <h3>
                <span wicket:id="resultMessage"></span>
            </h3>
            <div class="container-fluid">
                <!--move all inline styles to css file-->
                <div class="row" style="border-top: 1px solid #ddd; padding-bottom: 30px; padding-top: 30px;"
                     wicket:id="repositories">
                </div>


            </div>
        </div>

    </div>
</div>
</wicket:panel>
</html>
